/* ===================
CSS Reset (Reference from Kevin Powell CSS reset
======================*/

/* ## Colors

### Primary

- Light red (CTA text): hsl(356, 100%, 66%)
- Very light red (CTA hover background): hsl(355, 100%, 74%)
- Very dark blue (headings): hsl(208, 49%, 24%)

### Neutral

- White (text): hsl(0, 0%, 100%)
- Grayish blue (footer text): hsl(240, 2%, 79%)
- Very dark grayish blue (body copy): hsl(207, 13%, 34%)
- Very dark black blue (footer background): hsl(240, 10%, 16%)

### Gradient

Background gradient - Intro/CTA mobile nav:

- Very light red: hsl(13, 100%, 72%)
- Light red: hsl(353, 100%, 62%)

Background gradient - body:

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%) */

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 18px;
}

/* min body height */

body {
  min-height: 100vh;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  color: hsl(207, 13%, 34%);
  overflow-x: hidden;
}

/* responsive images/videos */
img,
picture,
video {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

/* ===================
General Layout
======================*/

h1,
h2,
h3,
h4 {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.hamburger-menu-path {
  fill: white;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

p {
  letter-spacing: 0;
  line-height: 1.5;
}

li {
  list-style: none;
}

/*===============
nav styling
=================*/

nav {
  display: none;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  text-align: center;
  top: 5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 2px 26px 35px -10px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 2px 26px 35px -10px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 2px 26px 35px -10px rgba(0, 0, 0, 0.37);
}

.connect-menu {
  margin-bottom: 2em;
}

.navbar-btn-row {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.login-btn {
  padding: 1em;
}

.signup-btn {
  background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  color: white;
  border-radius: 2em;
  padding: 0.7em 2.2em;
}

.nav-link {
  color: hsl(240, 2%, 45%);
}

.header-menu__hamburger-menu-btn {
  margin-left: auto;
}

/*===============
dropdown styling
=================*/

.dropdowns {
  border-bottom: 1px solid rgb(209, 209, 209);
  width: 80%;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: hsl(0, 0%, 92%);
  width: 15em;
  padding: 1em;
}

.dropdown-menu > a:not(:last-child) {
  padding-bottom: 0.5em;
}

.dropbtn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

.arrow-down {
  padding-left: 0.3em;
  width: 100%;
}

.arrow-up {
  transition: all 0.7s;
  transform: rotateX(180deg);
  padding-left: 0.3em;
  width: 100%;
}

.product-container,
.company-container,
.connect-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5em;
}

.product-menu,
.company-menu,
.connect-menu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transform: translateY(-10px);
}

.dropdown.active > .link:focus + .product-menu,
.dropdown.active > .link:focus + .company-menu,
.dropdown.active > .link:focus + .connect-menu {
  position: relative;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown.active,
.link:hover {
  position: relative;
  color: black;
}

.open-nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(1%);
}

/* ===================
header styling
======================*/

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  background: url('./images/bg-pattern-intro-mobile.svg'),
    linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position: 34% 38%;
  background-repeat: no-repeat;
  background-size: 70em;
  border-bottom-left-radius: 5em;
  padding: 2em 1em;
}

.intro-container {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5em 0.9em;
}

.intro__p {
  margin-top: 1em;
  font-size: 0.8rem;
}

.header__btn-row {
  display: flex;
  margin-top: 2em;
}

.intro__button {
  border: 1px solid white;
  padding: 0.8em 1em;
  font-size: 14px;
  border-radius: 2em;
  font-weight: 900;
}

.start-for-free {
  background-color: white;
  margin-right: 1em;
}

.learn-more {
  color: white;
}

/* ===================
main styling
======================*/

.future {
  text-align: center;
}

.future__h2 {
  padding: 3em;
}

.future__h3 {
  padding: 1em 4em;
}

.future__p {
  padding: 0.5em;
  font-size: 0.9rem;
}

.phone {
  background: url('./images/bg-pattern-circles.svg'),
    linear-gradient(hsl(237, 23%, 32%), hsl(237, 17%, 21%));
  background-repeat: no-repeat;
  background-position: 50% 150%;
  background-size: 30em;
  color: white;
  text-align: center;
  border-bottom-left-radius: 4em;
  border-top-right-radius: 4em;
}

/* .phone__content-container {
  padding: 2em;
} */

.phone__img {
  width: 50%;
}

/* .phone__h2 {
  padding: 0.5em;
  font-size: 1.5rem;
} */

/* .phone__p {
  font-size: 0.8rem;
  padding: 1em;
} */

/* .laptop__h3 {
  padding: 1em 4em;
} */

section.laptop {
  text-align: center;
}

/* .laptop__p {
  padding: 0.5em;
  font-size: 0.9rem;
  margin-bottom: 2em;
} */

/* ===================
footer Styling
======================*/

footer {
  background-color: hsl(240, 10%, 16%);
  padding: 2em;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 4em;
}

.footer__logo {
  padding: 0.5em;
  font-size: 2rem;
}

.footer__h4 {
  padding: 1.5em 0em;
}

.footer__a {
  font-size: 0.8rem;
  color: white;
  line-height: 2;
}

@media (min-width: 600px) {
  /* ===================
HEADER STYLING
======================*/

  p {
    font-size: 0.8rem;
    line-height: 1.6;
  }

  header {
    grid-template-rows: 2em 1fr;
    background-position: 30% 53%;
    background-size: 100em;
    padding: 2em 3em;
  }

  .intro__h1 {
    font-size: 2.5rem;
  }

  .start-for-free {
    color: hsl(353, 100%, 62%);
  }

  .start-for-free:hover {
    color: white;
    background-color: hsl(355, 100%, 74%);
    border: none;
  }

  .learn-more:hover {
    background-color: white;
    color: hsl(355, 100%, 74%);
    border: none;
  }

  .product-container,
  .company-container,
  .connect-container {
    padding: 0;
  }

  /*===============
NAV & DROPDOWN STYLING
=================*/

  nav {
    display: flex;
    padding-left: 4em;
    flex-direction: row;
    box-shadow: none;
    background: none;
    position: relative;
    top: 0;
    border-radius: none;
  }

  #drop-btn {
    color: white;
    font-size: 0.9rem;
    margin: 0;
    padding-right: 1em;
  }

  #dropdowns {
    display: flex;
    border: none;
  }

  #hamburger-menu-btn {
    display: none;
  }

  .arrow {
    width: auto;
  }

  .login-btn {
    color: white;
  }

  .navbar-btn-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .signup-btn {
    background: white;
    color: hsl(353, 100%, 62%);
    border-radius: 2em;
    padding: 0.7em 1.7em;
    height: 50%;
  }

  .signup-btn:hover {
    background-color: hsl(355, 100%, 74%);
    color: white;
  }

  /*===============
DROPDOWN STYLING
=================*/
  .product-menu,
  .company-menu,
  .connect-menu {
    position: absolute;
    top: calc(100% + 1rem);
    left: calc(100% + -6rem);
    background-color: white;
    width: 8em;
    text-align: left;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
  }

  .dropdown.active > .link:focus + .product-menu,
  .dropdown.active > .link:focus + .company-menu,
  .dropdown.active > .link:focus + .connect-menu {
    position: absolute;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  /* ===================
MAIN STYLING
======================*/

  .future {
    display: grid;
    padding: 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:
      'title title'
      'content1 image'
      'content2 image';
  }

  .future__content-container {
    text-align: left;
  }

  .title {
    grid-area: title;
  }
  .image {
    grid-area: image;
  }
  .content1 {
    grid-area: content1;
  }
  .content2 {
    grid-area: content2;
  }

  .future__h2 {
    font-size: 2rem;
  }

  .future__p,
  .future__h3 {
    padding: 1em;
  }

  .phone {
    display: grid;
    padding: 3em;
    grid-template-columns: 1fr 1fr;
    background-position: 25% 75%;
    background-size: cover;
  }

  .phone__content-container {
    text-align: left;
  }

  .phone__h2 {
    font-size: 1.5rem;
  }

  .phone__p,
  .laptop__p {
    padding-bottom: 1em;
  }

  .laptop {
    display: grid;
    padding: 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .laptop__picture {
    grid-row: 1/3;
  }

  .laptop__content-container {
    text-align: left;
  }

  .laptop__h3 {
    font-size: 1.3rem;
    padding-bottom: 1em;
  }

  footer {
    flex-direction: row;
    align-items: flex-start;
    padding: 3em;
  }

  .footer__container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    column-gap: 6em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'product-title company-title connect-title'
      'product company connect';
  }

  .product {
    grid-area: product;
  }

  .product-title {
    grid-area: product-title;
  }

  .company {
    grid-area: company;
  }

  .company-title {
    grid-area: company-title;
  }
  .connect {
    grid-area: connect;
  }

  .connect-title {
    grid-area: connect-title;
  }
}
